.footer-logo {
  display: block;
  width: 180px;
  height: auto;
  max-height: 75px;
  object-fit: contain;
}

.foot-desc-txt {
  max-width: 310px;
  margin-top: 18px;
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
  color: #e3c08d;
}

.sns-context {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
  width: auto;
  margin-top: 22px;
}

.sns-context img {
  width: 20px;
  height: 20px;
  opacity: 0.8;
  transition: 0.2s ease;
  object-fit: contain;
}

.sns-context img:hover {
  opacity: 1;
  transform: translateY(-2px);
}

.foot-category-title {
  width: auto;
  font-family: "Poppins";
  font-size: 21px;
  font-weight: 600;
  font-style: normal;
  line-height: 30px;
  color: #c5c8c9;
}

.foot-category-link {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: auto;
  margin-top: 18px;
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
}

.foot-category-link a {
  text-decoration: none;
  color: #e3c08d;
  transition: 0.2s ease;
  cursor: pointer;
}

.foot-category-link a:hover {
  color: #ffffff;
}

.find-us {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.find-us span {
  min-width: 18px;
  font-family: "Poppins";
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  line-height: 28px;
  color: #c5c8c9;
}

.find-us div {
  margin-left: 0;
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
  color: #e3c08d;
}

.copyright-txt {
  margin-top: 17px;
  font-family: "Poppins";
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  color: #e3c08d;
}

.foot-category-title:after {
  content: "";
  display: block;
  width: 100%;
  max-width: 70px;
  border-bottom: solid 2px #d7b686;
  transition: transform 250ms ease-in-out;
  transform: scaleX(0);
  transform-origin: 0% 50%;
}

.foot-category-title:hover:after {
  transform: scaleX(1);
}
